body {
    background-color: #212529;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 80px;
}

button {
    background-color: #212529;
    color: whitesmoke;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: whitesmoke;
    color: #212529;
    border: #212529 solid 1px;
    transition: 0.1s;
}

input {
    /* set the background to be gray */
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.tile {
    height: 50px;
    width: 50px;
    border: none;
}

#game-board, #user-guesses, #guesses {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.hidden {
    display: none !important;
}

.disabled {
    pointer-events: none;
}

#start-screen, #game-screen, #end-screen, #difficulty-screen, #user-guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tip {
    margin-top: -50px;
    font-size: 0.9em;
}

/* Reponsive */

@media only screen and (max-width: 900px) {
    body {
        font-size: 0.87em;
    }

    h1 {
        font-size: 40px;
    }

    input {
        font-size: 15px;
    }
    #game-board {
        margin-bottom: 0px;
    }
}
